* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --purple-light-1: #fbfafb;
  --purple-light-2: #f4feff;
  --purple-medium-1: #51628e;
  --purple-medium-2: ##91a1ba;
  --purple-medium-3: #51628e;
  --purple-dark-1: #182044;
  --purple-dark-2: #0e122d;

  --yellow: #eecc75;
  --green: #cad297;
  --aqua: #b7eac5;
  --lightBlue: #a2eee5;
  --darkBlue: #8ea2ea;
  --red: #f09d9d;
  --white: #ffffff;

  --font-family-titles: "Dosis", sans-serif;
  --font-family-text: "Red Hat Display", sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;

  font-size: 62.5%;
}

html {
  background-color: var(--purple-medium-3);
}

body {
  height: auto;
  background-color: var(--purple-light-1);
  color: var(--purple-dark-2);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 16px;
  margin: 4px 0 0 0;
  padding: 0;
}
main {
  position: relative;
  width: 100%;
  z-index: 0;
}
header {
  z-index: 10;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 24px;
  color: var(--purple-dark-2);
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-title1);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
  color: var(--purple-dark-1);
  font-weight: var(--font-weight-title2);
}

h3 {
  color: var(--purple-dark-2);
  font-weight: var(--font-weight-text2);
  font-size: 16px;
}

input {
  background-color: var(--purple-light-2);
  color: var(--purple-medium-2);
  border: none;
  font-size: 18px;
  padding-left: 16px;
}

input::placeholder {
  color: var(--purple-medium-1);
  font-family: var(--font-family-text);
}

button {
  background-color: var(--purple-dark-1);
  border: none;
  color: var(--purple-light-2);
  font-weight: var(--font-weight-text2);
  font-size: 14px;
  cursor: pointer;
}

/* Shared */
.header-container,
.trendingPreview-header,
.categoriesPreview-container {
  padding: 0 24px;
}

.trendingPreview-container,
.categoriesPreview-container,
footer {
  margin-top: 48px;
}

.trendingPreview-header,
.categoriesPreview-title {
  margin-bottom: 24px;
}

.movie-container {
  cursor: pointer;
  position: relative;
  z-index: 0;

}
.containerMovies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.charge-end {
  cursor: pointer;
  z-index: 0;
}
.movie-container2 {
  background-color: rgb(219, 219, 219);
}
.movie-img {
  border-radius: 8px;
  z-index: 1;
}

.categoriesPreview-list,
.categories-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

/* Header */
.header-container {
  padding-top: 40px;
  position: fixed;
    display: flex;
  justify-content: space-between;
}

.header-container--long {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.35) 15.27%,
    rgba(0, 0, 0, 0) 29.17%
  );
  background-size: cover !important;
  height: 280px;
  top: 0;
  width: 100%;
}
.header-container--long2 {
  height: 480px;
  width: 100%;
  background-color: rgba(230, 230, 230, 0.5);
}
.header-container--long.loading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(168, 168, 168, 0.5);
  animation: opacidad 1s ease-in-out infinite;
}
.header-container--categoryView {
  background: linear-gradient(
    180deg,
    rgba(238, 204, 117, 0.5) 0%,
    rgba(238, 204, 117, 0) 72.92%
  );
}

.header-title {
  margin-bottom: 16px;
}

.header-arrow {
  font-weight: var(--font-weight-text2);
  font-size: 36px;
  margin-bottom: 16px;
  cursor: pointer;
  display: inline-block;
}
.header-arrow--white {
  color: var(--purple-light-1);
}

.header-searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
}

.header-searchForm input {
  height: 48px;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.header-searchForm button {
  width: 56px;
  height: 48px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Trending */
.trendingPreview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trendingPreview-btn {
  border-radius: 8px;
  height: 32px;
  width: 72px;
}

.trendingPreview-movieList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 241px;
  padding-left: 24px;
  padding-bottom: 16px;
  height: 425px;
}

.trendingPreview-movieList .movie-container {
  display: inline-block;
  margin-right: 8px;
  position: relative;
  z-index: 0;
}
.trendingPreview-movieList .charge-end {
  display: inline-block;
  margin-right: 8px;
  position: relative;
  z-index: 0;
}

.trendingPreview-movieList.loading .movie-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(168, 168, 168, 0.5);
  animation: opacidad 1s ease-in-out infinite;
}

.trendingPreview-movieList .movie-container .movie-img {
  height: 100%;
  width: 250px;
  min-width: 150px;
  max-width: 250px;
  z-index: 1;
}

.trendingPreview-movieList .charge-end .movie-img {
  height: 100%;
  width: 250px;
  min-width: 150px;
  max-width: 250px;
  z-index: 1;
}
/* Categories */
.category-container {
  width: 45%;
  display: flex;
  align-items: center;
}

.category-title {
  margin-bottom: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-title::before {
  content: "••••";
  color: transparent;
  /* TODO: cambiar color por ID de la categoría */
  background-color: var(--idColor);
  border-radius: 8px;
  margin-right: 8px;
  width: 15px;
  height: 15px;
}
.category-title2 {
  margin-bottom: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category-title2::before {
  content: "••••";
  color: transparent;
  /* TODO: cambiar color por ID de la categoría */
  background-color: rgb(133, 133, 133);
  border-radius: 8px;
  margin-right: 8px;
  width: 8px;
  height: 8px;
}
#id28 {
  --idColor: var(--yellow);
  --idColor2: var(--purple-dark-1);
}
#id12 {
  --idColor: var(--red);
  --idColor2: var(--purple-dark-1);
}
#id16 {
  --idColor: var(--green);
  --idColor2: var(--purple-dark-1);
}
#id35 {
  --idColor: var(--lightBlue);
  --idColor2: ;
}
#id80 {
  --idColor: var(--darkBlue);
  --idColor2: var(--white);
}
#id99 {
  --idColor: var(--purple-dark-1);
  --idColor2: var(--white);
}
#id18 {
  --idColor: var(--purple-medium-1);
  --idColor2: var(--white);
}
#id10751 {
  --idColor: var(--yellow);
  --idColor2: var(--purple-dark-1);
}
#id14 {
  --idColor: var(--red);
  --idColor2: var(--purple-dark-1);
}
#id36 {
  --idColor: var(--green);
  --idColor2: var(--purple-dark-1);
}
#id27 {
  --idColor: var(--lightBlue);
  --idColor2: var(--purple-dark-1);
}
#id10402 {
  --idColor: var(--darkBlue);
  --idColor2: var(--white);
}
#id9648 {
  --idColor: var(--purple-dark-1);
  --idColor2: var(--white);
}
#id10749 {
  --idColor: var(--purple-medium-1);
  --idColor2: var(--white);
}
#id878 {
  --idColor: var(--yellow);
  --idColor2: var(--purple-dark-1);
}
#id10770 {
  --idColor: var(--red);
  --idColor2: var(--purple-dark-1);
}
#id53 {
  --idColor: var(--green);
  --idColor2: var(--purple-dark-2);
}
#id10752 {
  --idColor: var(--lightBlue);
  --idColor2: var(--purple-dark-1);
}
#id37 {
  --idColor: var(--darkBlue);
  --idColor2: var(--white);
}

/* Generic List (search, trending & category) */
.genericList-container {
  padding: 32px 24px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.genericList-container .movie-container {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 400px;
  min-height: 225px;
  max-height: 390px;
  width: 250px;
  min-width: 150px;
  max-width: 250px;
  z-index: 0;
  flex-shrink: 1;
}

.genericList-container .charge-end {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 400px;
  min-height: 225px;
  max-height: 390px;
  width: 250px;
  min-width: 150px;
  max-width: 250px;
  z-index: 0;
  flex-shrink: 1;
}
.genericList-container.loading .movie-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(168, 168, 168, 0.5);
  animation: opacidad 1s ease-in-out infinite;
}

.genericList-container .movie-img {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.genericList-container .charge-end.movie-img {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.buttonShowMore {
  display: inline-block;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  font-weight: 700;
}

.relatedMovies-container {
  margin-top: 24px;
  height: 216px;
}

.relatedMovies-title {
  margin-bottom: 16px;
}

.relatedMovies-scrollContainer {
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  width: calc(100vw - 24px);
  padding-bottom: 16px;
  height: 187px;
}

.relatedMovies-scrollContainer .movie-container {
  position: relative;
  margin-right: 8px;
  width: 150px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
  white-space: normal;
  text-align: center;
  z-index: 0;
}
.relatedMovies-scrollContainer .charge-end {
  position: relative;
  margin-right: 8px;
  width: 150px;
  height: 100%;
  white-space: normal;
  text-align: center;
  z-index: 0;
}
.relatedMovies-scrollContainer .charge-end .like__button {
  width: 30px;
  height: 30px;
}

.relatedMovies-scrollContainer .charge-end .like__button--img {
  width: 30px;
  height: 30px;
  filter: drop-shadow(-2px 3px 2px #131313);
  color: #696969;
  flex-shrink: 0;
  transition: transform 0.5s ease-in-out;
}

.relatedMovies-scrollContainer.loading .movie-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(168, 168, 168, 0.5);
  animation: opacidad 1s ease-in-out infinite;
}

.relatedMovies-scrollContainer .movie-img {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
  z-index: 1;
}
.relatedMovies-scrollContainer .charge-end.movie-img {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
  z-index: 1;
}
.movie-else-img {
  margin-right: 8px;
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
  background-color: #2a0646;
}
.movie-else-img h2 {
  min-width: 125px;
  max-width: 125px;
  color: white;
  overflow: hidden;
}
@keyframes opacidad {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/*sección favoritos*/
.favorites {
  height: 500px;
  margin-top: 20px;
}
.favorites-header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.favorites-btn {
  width: 100px;
  height: 30px;
  color: white;
  font-weight: 700;
  border-radius: 15px;
}
.favorites-movieList {
  width: 100%;
  height: 80%;
  margin-top: 10px;
  background-color: var(--purple-light-2);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  padding-left: 40px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  color: var(--purple-medium-1);
  font-weight: 700;
  font-size: 2.5rem;
  display: flex;
  justify-content: left;
}
.favorites-movieList p {
  width: 80%;
  white-space: normal;
  text-align: center;
}
.favorites-movieList .movie-container {
  width: 250px;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  object-fit: cover;
  position: relative;
  z-index: 0;
}
.favorites-movieList .charge-end {
  width: 250px;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  object-fit: cover;
  position: relative;
  z-index: 0;
}
.favorites-movieList .charge-end .movie-img {
  width: 100%;
  z-index: 0;
}
.favorite__img {
  width: 100%;
  height: 100%;
  background-color: #2e48a3;
  border-radius: 40px;
  z-index: 0;
}
.favorites__deleteFavorite {
  padding: 15px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 15px;
  z-index: 4;
}
.like__button {
  width: 100px;
  height: 100px;
  padding: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("../svg/like-placeholder-svgrepo-com.svg"); */
}
.like__button--img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(-2px 3px 2px #131313);
  color: #696969;
  flex-shrink: 0;
  transition: transform 1s ease-in-out;
}
.like__button--img:active {
  transform: scale(3);
  fill: red;
}

/* Footer */
footer {
  background-color: var(--purple-medium-3);
  color: var(--purple-light-2);
  text-align: center;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigation */
.inactive {
  display: none;
}

.movieDetail-generalcontainer {
  width: 100%;
  height: 100vh;
}
.movieDetail-containerImg {
  width: 100%;
  object-fit: cover;
  z-index: 0;
}
.movieDetail-Img {
  width: 100%;
  position: fixed;
}
/* Movie Detail */
.movieDetail-container {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 32px 24px;
  margin-top: 500px;
  position: absolute;
  z-index: 1;
  background-color: var(--purple-light-1);
}

.movieDetail-title {
  display: inline-block;
  width: 80%;
  margin: 0 0 16px 0;
  padding: 0;
}

.movieDetail-score {
  display: inline-block;
  text-align: right;
  width: 18%;
  font-weight: var(--font-weight-title2);
}
.movieDetail-score::before {
  content: "★";
  color: var(--yellow);
  padding-right: 4px;
}

.movieDetail-description {
  margin: 0 0 24px 0;
}
.movieDetail-generalcontainerFlex {
  display: flex;
}
.movieDetail-containerImg .like__button {
  position: fixed;
  top: 300px;
}
